.ant-form-item-explain {
  text-align: left;
  margin-bottom: 12px;
}
.ant-input::placeholder {
  color: var(--gray300);
  font-size: 16px;
}
.ant-input {
  font-size: 16px;
}
.ant-form-item {
  margin-bottom: 12px;
}
