@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --white: #f7f5f4;
  --primary: #36517c;
  --gray200: #ece9e7;
  --gray300: #abacac;
  --gray400: #ABACAC;
  --gray500: #6f7474;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
